@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-5 mb-5 text-center">
    <h1 class="display-4">Welcome to EventMiWorkshopMVC</h1>
    <p class="lead">Your one-stop solution for managing and attending events.</p>
    <hr class="my-4">
    <p>Explore the upcoming events or add your own.</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Event" asp-action="All" role="button"><i class="fas fa-calendar-alt"></i> View Events</a>
</div>

<div class="card-container">
    <div class="col-lg-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="imgs/event-production-services-live-event-productions-banner-image-4.jpg" alt="Event image">
            <div class="card-body">
                <h5 class="card-title">Add New Event</h5>
                <p class="card-text">Create and manage your events with our intuitive interface.</p>
                <a href="@Url.Action("Add", "Event")" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Event</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="imgs/Hero-1.jpg" alt="Event image">
            <div class="card-body">
                <h5 class="card-title">Browse All Events</h5>
                <p class="card-text">Explore all the events happening around you. Don't miss out!</p>
                <a href="@Url.Action("All", "Event")" class="btn btn-primary"><i class="fas fa-list"></i> View Events</a>
            </div>
        </div>
    </div>
</div>